html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #c9b5ab;
  font-family: "PT Serif", serif;
  line-height: 1.5;
}

h1, h2 {
  color: #3f1622;
  font-family: "PT Sans", sans-serif;
}

nav ol {
  list-style-type: none;
}

nav ol li a {
  text-decoration: none;
  color: #8f2440;
  font-size: 1.125rem;
  font-family: "PT Sans", sans-serif;
}

h1 {
  font-size: 1.5rem;
}

img {
  width: 100%;
  display: block;
  margin-right: auto;
}

figcaption {
  font-style: italic;
  text-align: center;
}

p:nth-of-type(1) {
  font-size: 1.2rem;
  font-weight: bold;
}

b {
  font-weight: bold;
}

blockquote {
  font-style: italic;
  font-size: 1.5rem;
  font-weight: bold;
}

blockquote:nth-of-type(2) {
  font-size: .8rem;
  font-weight: normal;
}

main ol {
  list-style-type: lower-greek;
}

aside ul {
  list-style-type: circle;
}

a {
  text-decoration: none;
  color: #8f2440;
}

a:hover {
  color: #3f1622;
  text-decoration: underline;
}
